/* This is style css file */
*{
  font-family: 'Open Sans', sans-serif;
}
.main-container{
  background-color: rgb(240,240,240);
}
#section1{

}
h1{
  
}
[title="recursion"]{
  border-style: inset;
  border-color: #696969;
  border-width: 1;
  border-radius: 5px;
}
h2:hover{
  
}
h3,h4{
  
}
aside p{
  
}
footer > p{
  
}
canvas ~ p{
  
}
picture + p{
  
}
li.special{
  
}
