/* This is style css file */
*{
  font-family: 'Open Sans', sans-serif;
}
.main-container{

}
figure{
  border-style: inset;
  border-color: #696969;
  border-width: thin;
  border-radius: 5px;
}
video{
  width: 40vw;
  height: 40vh;
  border: 12pt solid green;
  padding-top: 1pc;
  padding-right: 1.2pc; 
  padding-bottom: 1.4pc; 
  padding-left: 1.6pc; 
  margin-top: 20px;
  margin-right: 30px; 
  margin-bottom: 40px; 
  margin-left: 50px; 
}
svg{
  width: 50%;
  height: 50%;
  border: 12pt solid green;
  padding: 12px 12px 12px 12px;
  margin: 20px 20px 20px 20px;
}
form{
  width: 20%;
  height: 50%;
  margin: auto;
}
#section1{
  color: red;
}
h1{
  text-align: center;
  text-decoration: underline;
  color: rgb(125,255,255);
}
[title="recursion"]{
  max-width: 60%;
  min-width: 40%;
}
a:hover{
  color:#00ff00;
}
a:active{
  background-color: pink;
}
h3,h4{
  color:hsl(89, 43%, 51%);
}
aside p{
  color: yellow;
}
footer > p{
  display: inline;
  color: blue;
}
canvas ~ p{
  display: block;
  color: orange;
}
picture + p{
  position: relative;
  left: 30px;
}
li.special{
  position: fixed;
}
div.parent{
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  border: 2pt solid blue;
}
div.child1{
  width:100px;
  height:200px;
  border: 2pt solid yellow;
}
div.child2{
  width:200px;
  height:100px;
  border: 2pt solid red;
}
